{% extends "base.html" %}




{% block page_content %}


<style type="text/css">
.appname
{
     width:600px !important;
}
</style>


    <h4>Application Info:</h4>

    <form action="saveapp" method="post" name="save"> {% csrf_token %}

    <div class="span1">
        Name: <br><br>
        Version: <br><br>
        Publisher: <br><br>
        License Type: <br><br>
        Cost: <br><br>
    </div>

    <div class="span3">
        <input name="name"      readonly value="{{ app_name }}" class="appname"><br><br>
        <input name="version"   readonly value="{{ app_version }}"><br><br>
        <input name="publisher" readonly value="{{ app_publisher }}"><br><br>
        <input name="license"   readonly value="{{ app_license }}"><br><br>
        <input name="cost"               value="{{ app_cost }}"><br><br>


		<p>
			PC list Software is installed on :&nbsp;
            <select name="pclist" size="10"">
                {% for sp in pclist%}
                   <option value="{{pc.id}}" >{{pc.name}}</option>
                {% endfor %}
            </select>
    </div>


</form>


{% endblock %}