{% extends "base.html" %}




{% block page_content %}


<script xmlns="http://www.w3.org/1999/html">


        function softpedia() {

            document.getElementById('comment').value = "http://www.softpedia.com/dyn-search.php?search_term={{ app_name_short }}";
            document.getElementById('action_id').name = "action";
            document.getElementById('action_id').value = "Mark Free";

            document.getElementById("saveapp").submit();

        }
        function suggestions_change(en) {


            if (en == 0 ){
                document.getElementById('suggestions_id').value = '1';
            }else{
                document.getElementById('suggestions_id').value = '0';
            }
            document.getElementById('action_id').name = "action";
            document.getElementById('action_id').value = "reload";
            document.getElementById("saveapp").action = "/appinfo/";
            document.getElementById("saveapp").submit();


        }

</script>


<form id="saveapp" action="{{ return_page }}" method="post" name="save"> {% csrf_token %}
<input name="software" value="{{ app_id }}" type="hidden" >
<input id="suggestions_id" name="suggestions_id" value="{{ suggestions_id}}" type="hidden" >

<style type="text/css">
.appname
{
     width:500px !important;
}
    table{ font-size:0.8em; font-weight:bold; font-family:helvetica,sans-serif; }

</style>

        <div class="row">
               <div class="span3">
                  <h4>Application Info:</h4>
                </div>
               <div class="span4">
                    <a href="http://google.com/search?q={{ app_name_short_vendor}}" target="_blank">Google</a>  |
                    <a id="softpedia_url" href="http://www.softpedia.com/dyn-search.php?search_term={{ app_name_short }}
                    " target="_blank">Softpedia</a>
                </div>
        </div>


        <div class="span6">
            <br>
            <div class="row">
                <div class="span1">
                    Name
                </div>
                <div class="span3">
                    <input name="name" readonly value="{{ app_name }}" class="appname">
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    Path
                </div>
                <div class="span3">
                    <input name="name" readonly value="{{ app_installation}}" >
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    Version
                </div>
                <div class="span3">
                    <input name="name" readonly value="{{ app_version}}" >
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    Publisher
                </div>
                <div class="span3">
                    <input name="name" readonly value="{{ app_publisher}}" >
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    License
                </div>
                <div class="span3">
                    <input name="name" readonly value="{{ app_license}}" >
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    cost
                </div>
                <div class="span3">
                    <input name="name"          value="{{ app_cost}}" >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="span1">
                    Comment
                </div>
                <div class="span3">
                    <textarea name="comment" id="comment" rows="4">{{ app_comment }}</textarea>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="span4">
                    <input name="action" type="submit" value="Mark Free"  />
                    <input name="action" type="submit" value="Mark Licensed" />
                    <input  type="hidden" id="action_id" name="action1" value="Mark Free" />
                </div>
                <div class="span3 offset6" id="suggestions_softpedia_btn_id"
                    onclick="suggestions_change({{ suggestions_enable }});">
                    <button type="button" class="btn btn-small
                    {% if suggestions_enable == '0' %} btn-primary ">Enable suggestions
                    {% else %}
                            ">Disable suggestions
                    {% endif %}
                   </button>
                </div>
            </div>
        </div>
        <div class="span3">
            <br><br><br>
             <div class="row">
                 Installed on :&nbsp;
             </div>
             <div class="row">
                <select name="pclist" size="10"">
                    {% for pc in pclist %}
                       <option value="{{pc.id}}" >{{pc.name}}</option>
                    {% endfor %}
                </select>
             </div>

        </div>

</form>


{% endblock %}


{% block page_content_softpedia %}
{% if suggestions_enable == '1' %}
    {%  if softpedia_content|length > 0 %}
    <div class="row">
    <hr>
        <div class="span8">
             <p>
                 <b>Softpedia Search Result :</b>
             </p>
        </div>
        <div class="span2">

                  <input  type="button" onclick="softpedia();" value="Mark as Free and add Softpedia URL" />
        </div>
    </div>
    <div class="row">
           {{ softpedia_content|safe }}
    </div>
    {% endif %}
{% endif %}

{% endblock %}

