<html lang="en">
<head>
<meta charset="utf-8">
<title>License manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="vitush">

{% block refresh %} {% endblock %}

<link href="/static/css/bootstrap.css" rel="stylesheet">
<style type="text/css">body{padding-top:60px;padding-bottom:40px;}</style>
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">





</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="/">License management tool</a>

</div>
</div>
</div>
<div class="container">


    {% block page %}
        <div class="row">
        {% block page_content %}

        {% endblock %}
        </div>

        {% block page_content_softpedia %}
        {% endblock %}

    {% endblock %}


<hr>
<footer>
<p>&copy; Symphony-Solutions 2013</p>
</footer>
</div>



    </body>
</html>