{% extends "base.html" %}

{% block page_content %}


    <script>
        function deletepc(pcid) {

            document.getElementById("deletepc_id").value=pcid;
            document.getElementById("form_computers_id").submit();
            document.getElementById("form_computers_id").submit();
        }


    </script>


<div class="span12">
<h5>Computers</h5>
<form id="form_computers_id"  action="/computers/" method="post">  {% csrf_token %}

<div class="row">
    <div class="span4">
        License:&nbsp;
        <select name="license_id" id="license_id">
            {% for lc in licenses %}
                <option value="{{lc.id}}" {% if lc.id == licenses_selected %} selected {% endif %} >{{lc.name}}
                ( {{ lc.computer_set.all|length }} )
                </option>
            {% endfor %}
        </select><br>
        <input class="btn" name="action" type="submit" value="Add"  >
        <input class="btn" name="action" type="submit" value="Remove" >

    </div>
    <div class="span3">
        Computers:&nbsp;
        <select id="computer_id" name="computer_id" multiple="true" size="6" >
            {% for pc in computers%}
               <option value="{{pc.id}}" title="{{pc.owner}} " >{{pc.name}}</option>
            {% endfor %}
        </select>

    </div>
    <hr>
</div>
<div class="row">
    <input type="hidden" id="deletepc_id" name="deletepc_id" value="">
    <table class="table">
    <thead>
     <th>Computer</th>
     <th>Applayed Licenses</th>
     <th>  <input type="submit" class="btn btn-mini btn-danger" name="action" value="Delete All PC"> ({{ computers|length }})</th>
    </thead>
    <tbody>
        {% for comp  in computers %}
            <tr>
                <td title="{{ comp.name }}"> {{ comp.name }} </td>
                <td >
                    {% for lc in comp.licenses.all %}
                        <p title="License owner: {{ lc.owner }}">{{ lc.name  }}</p>
                    {% endfor %}

                </td>
                <td>
                    <input type="submit" class="btn btn-mini btn-warning" name="action" value="Delete PC" onclick="deletepc({{ comp.id }})">
                </td>
            </tr>
        {%  endfor %}
    </tbody>
    </table>
</div>



</form>
</div>


{% endblock %}