
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>License manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="vitush">
 


<link href="/static/css/bootstrap.css" rel="stylesheet">
<style type="text/css">body{padding-top:60px;padding-bottom:40px;}</style>
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
 

 
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/ico/favicon.png">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="#">License management tool</a>

</div>
</div>
</div>
<div class="container">
 

 
<div class="row">
<div class="span4">
<h2>Reports</h2>
<p>Get report about installed software.</p>
<p><a class="btn" href="/search">View details &raquo;</a></p>
</div>

<div class="span4">
<h2>Manage</h2>
<p>Manage software Information</p>
<p><a class="btn" href="/manage/">Manage software&raquo;</a></p>
</div>

<div class="span4">
<h2>Update</h2>
<p>Reload XML Files .</p>
<p><a class="btn" href="/reload/">Reload XML Data&raquo;</a></p>
</div>
</div>
<hr>
<footer>
<p>&copy; Symphony-Solutions 2013</p>
</footer>
</div>  
 
 
<script data-rocketsrc="/static/js/jquery.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-transition.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-alert.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-modal.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-dropdown.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-scrollspy.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-tab.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-tooltip.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-popover.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-button.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-collapse.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-carousel.js" type="text/rocketscript"></script>
<script data-rocketsrc="/static/js/bootstrap-typeahead.js" type="text/rocketscript"></script>
</body>
</html>
