<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			&nbsp;</p>
		<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 500px;">
			<tbody>
				<tr>
					<td>
                        <form action="/search">
						<input type="submit" value="Show Installed Software" />
                        </form>
                    </td>
					<td>
                        <form action="/manage">
                            <input type="submit" value="Manage Software" />
                        </form>
					</td>
                    <td>
                        <form action="/reload">
                            <input type="submit" value="Reload" />
                        </form>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			&nbsp;</p>
	</body>
</html>
