<html>
	<head>
		<title>HTML Editor Sample Page</title>
	</head>
	<body>
		<h2>
			Sotware Info:</h2>
		<ul>
			<li>
				Application : &nbsp; {{ application_name }}</li>
			<li>
				Version:&nbsp; </li>
			<li>
				Publisher:&nbsp; {{ publisher }}</li>
			<li>
				License policy:&nbsp;
                {% if is_free = 0 %}
                    Unknown
                {% elif is_free=1 %}
                    Free
                {% elif is_free=2 %}
                    Need License
                    {% if price %}
                        ({{ price }})
                    {% endif %}
                {% endif %}
                </li>
		</ul>
	</body>
</html>
