{% extends "base.html" %}

{% block page_content %}

    <script>
        function swinfo() {

            document.getElementById('appinfo').submit();

        }
    </script>

<div class="span4">
<h4>License type unknown</h4>
        <form id="appinfo"  action="/appinfo/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Unknown license type">
                {% for sw in unknown_software %}
                   <option value="{{sw.id}}" ondblclick="swinfo();" >{{sw}}</option>
                {% endfor %}
            </select>

        <p>
        <input name="action" type="submit" value="Mark Free"  />
        <input name="action" type="submit" value="Mark Licensed" />
       </p>
   </form>
</div>

<div class="span4">
<h4>Free software</h4>
        <form id="appinfo" action="/manage/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Unknown license type">
                {% for sw in free_software %}
                   <option value="{{sw.id}}" ondblclick="swinfo();">{{sw}}</option>
                {% endfor %}
            </select>
        <p>
        <input name="action" type="submit" value="Mark Unknown"  />
        <input name="action" type="submit" value="Mark Licensed" />
        </p>
   </form>
</div>

<div class="span4">
<h4>Software require license</h4>
        <form id="appinfo"  action="/manage/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Need License">
                {% for sw in licensed_software %}
                   <option value="{{sw.id}}" ondblclick="swinfo();" >{{sw}}</option>
                {% endfor %}
            </select>

        <p>
        <input name="action" type="submit" value="Mark Unknown"  />
        <input name="action" type="submit" value="Mark Free" />
        </p>
           </form>
</div>



{% endblock %}