{% extends "base.html" %}

{% block page_content %}

    <script>
        function swinfo(sw_id) {

            document.getElementById("form_software_id").action='/appinfo/';
            document.getElementById("software").value = sw_id;
            document.getElementById("form_software_id").submit();

        }
    </script>

<style type="text/css">

table {
    table-layout: fixed;
    word-wrap: break-word;
    font-size:10px;
}
.table th.rightCell,
.table td.rightCell {
  text-align: right;
}
</style>

<div class="span12">
<h5>Software require license (<b>{{ licensed_software|length }}</b>)</h5>
<form id="form_software_id"  action="/appinfo/" method="post">  {% csrf_token %}
<input type="hidden" name="software" id="software" value="0">

<table class="table">
<thead>
 <th class="rightCell" width="40">ID</th>
 <th>Application</th>
 <th class="rightCell" width="40">Cost<br>(UAH)</th>
 <th width="20%">Comment</th>
</thead>
<tbody>
    {% for sw in licensed_software %}
        <tr ondblclick="swinfo({{ sw.id }});" >
            <td class="rightCell" > {{ sw.id }} </td>
            <td> {{ sw.name }} </td>
            <td class="rightCell" > {{ sw.cost }}</td>
            <td>
                {%  if sw.comment|length > 0 %}
                    <a target="_blank" href="{{ sw.comment }}" title="{{ sw.comment }}">
                    {{ sw.comment|slice:":20" }} ...</a></td>
                {% endif %}
        </tr>

       <option value="{{sw.id}}"
               ondblclick="swinfo('licensed_software_id');"
               title="{{sw}} ({{sw.publisher}}) {% if sw.cost > 0 %} [ {{ sw.cost }} UAH ] {% endif %}" >


            {% if sw.cost > 0 %} [ {{ sw.cost }} UAH ] {% endif %} {{sw}}</option>
    {% endfor %}

</tbody>
</table>

</form>
</div>



{% endblock %}