{% extends "base.html" %}

{% block page_content %}

    <script>
        function swinfo(sw_id) {

            document.getElementById("form_software_id").action='/appinfo/';
            document.getElementById("software").value = sw_id;
            document.getElementById("form_software_id").submit();

        }
    </script>

<style type="text/css">

table {
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 14px;
}
.table th.rightCell,
.table td.rightCell {
  text-align: right;
}
</style>

<div class="span12">
<h5>Software require license (<b>{{ licensed_software|length }}</b>)</h5>
<form id="form_software_id"  action="/appinfo/" method="post">  {% csrf_token %}
<input type="hidden" name="software" id="software" value="0">

<table class="table">
<thead>
 <th>Application</th>
 <th class="rightCell" width="10%">Cost<br>(UAH)</th>
 <th width="20%">Comment</th>
 <th class="rightCell" width="10%"> Computers </th>
</thead>
<tbody>
    {% for sw in licensed_software %}
        <tr ondblclick="swinfo({{ sw.id }});" >
            <td title="{{ sw.name }}"> {{ sw.name }} </td>
            <td class="rightCell" > {{ sw.cost }} UAH</td>
            <td>{%  if sw.comment|length > 0 %}
                    <a target="_blank" href="{{ sw.comment }}" title="{{ sw.comment }}">
                    {{ sw.comment|slice:":20" }} ...</a>
                {% endif %}</td>

            <td title="{%  for pc in sw.computer_set.all %}
                    {{ pc.name }}{% endfor %}">
                {%  if sw.computer_set.all|length  == 0  %}
                   <span class="label">( {{ sw.computer_set.all|length }} )</span>
                {% elif sw.computer_set.all|length  < 10 %}
                    <span class="label label-warning">( {{ sw.computer_set.all|length }} )</span>
                {% alse %}
                    <span class="label label-warning">( {{ sw.computer_set.all|length }} )</span>
                {% endif %}</td>

        </tr>
    {%  endfor %}
</tbody>
</table>

</form>
</div>



{% endblock %}