{% extends "base.html" %}

{% block page_content %}

<style type="text/css">
.selectwidthauto
{
     width:350px !important;
}
</style>


 <p>
     <form action="/download/" name="download" method="post"> {% csrf_token %}
             <input type="hidden" name="computer_id" value="{{ computer_id }}"/>
             <input type="submit" name="download" value="Download Report"/>

     </form>
 </p>

<div class="span4">
<h4>License type unknown</h4>
        <form action="/report_pc/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Unknown license type" class="selectwidthauto">
                {% for sw in unknown_software %}
                   <option value="{{sw.id}}" ondblclick="swinfo('unknown_software_id');"  title="{{sw}} ({{sw.publisher}})" >{{sw}}</option>
                {% endfor %}
            </select>
        </form>

</div>

<div class="span4">
<h4>Free software</h4>
        <form action="/report_pc/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Unknown license type" class="selectwidthauto">
                {% for sw in free_software %}
                   <option value="{{sw.id}}" ondblclick="swinfo('unknown_software_id');"  title="{{sw}} ({{sw.publisher}})">{{sw}}</option>
                {% endfor %}
            </select>
        </form>
</div>

<div class="span4">
<h4>Software require license</h4>
        <form action="/report_pc/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Need License" class="selectwidthauto">
                {% for sw in licensed_software %}
                   <option value="{{sw.id}}" ondblclick="swinfo('unknown_software_id');"  title="{{sw}} ({{sw.publisher}})">{{sw}}</option>
                {% endfor %}
            </select>
        </form>
</div>


{% endblock %}