{% extends "base.html" %}

{% block page_content %}


<div class="span4">
<h4>License type unknown</h4>
        <form action="/report_pc/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Unknown license type">
                {% for sw in unknown_software %}
                   <option value="{{sw.id}}">{{sw}}</option>
                {% endfor %}
            </select>
        </form>

</div>

<div class="span4">
<h4>Free software</h4>
        <form action="/report_pc/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Unknown license type">
                {% for sw in free_software %}
                   <option value="{{sw.id}}">{{sw}}</option>
                {% endfor %}
            </select>
        </form>
</div>

<div class="span4">
<h4>Software require license</h4>
        <form action="/report_pc/" method="post">  {% csrf_token %}
            <select name="software" multiple="true" size="10" title="Need License">
                {% for sw in licensed_software %}
                   <option value="{{sw.id}}">{{sw}}</option>
                {% endfor %}
            </select>
        </form>
</div>


{% endblock %}