{% extends "base.html" %}

{% block page_content %}

<h2> Filter : </h2>

     <form action="/search/"  method="post" > {% csrf_token %}
		<p>
			PC name :&nbsp;
            <select name="computer" onchange="combo(this, 'computer')">
                {% for pc in list_pcs %}
                    <option value="{{pc.id}}">{{pc}}</option>
                {% endfor %}
            </select></p>
		<p>
			Publisher :&nbsp;
            <select name="publisher" onchange="combo(this, 'publisher')">
                    <option value="all">All</option>
                {% for pub in list_publishers %}
                    <option value="{{pub.id}}">{{pub}}</option>
                {% endfor %}
            </select></p>
        <p>
             <input type="submit" value="Show Selected Software">
        </p>
     </form>

{% endblock %}